:root {
    --color-primario: hwb(201 25% 6%);
    --color-secundario: #eef5ff;
    --color-terciario: #b4d4ff;
    --color-cuaternario: #86b6f6;
    --color-quintario: #176b87;
    --white: #fff;
    --fondo-texto-imagenes: rgba(0, 0, 0, 0.7);
    --titulo: "Tilt Prism", sans-serif;
    --subtitulo: "Madimi One", sans-serif;
    --texto: "Didact Gothic", sans-serif;
    --gray: #6c757d;
}

* {
    margin: 0;
}

/*
NAVBAR
*/

.barra-tareas {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    padding: 10px 20px;
    color: var(--white);
}

.logo {
    display: flex;
    align-items: center;
}

.logo svg {
    width: 50px;
    height: 50px;
}

.logo a {
    text-decoration: none;
    color: var(--white);
}

.logo h1 {
    margin: 2px;
    display: inline-block;
    font-size: 38px;
    font-family: var(--titulo);
}

nav a {
    text-decoration: none;
    color: var(--white);
    margin-left: 20px;
    font-family: "Madimi One", sans-serif;
    font-size: large;
}

nav a:hover {
    color: var(--color-quintario);
}

/* IMAGEN */

.imagen-top-lenguajes {
    width: 100%;
    height: 400px;
    position: relative;
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
}

.imagen-top-lenguajes img {
    width: 100%;
    height: 100%;
}

.titulo-imagen {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.titulo-imagen h2 {
    font-size: 42px;
    font-family: var(--texto);
    margin: 0;
    padding: 10px 20px;
    background-color: var(--fondo-texto-imagenes);
}

.titulo-imagen p {
    font-size: 24px;
    font-family: var(--texto);
    margin: 0;
    padding: 5px 20px;
    background-color: var(--fondo-texto-imagenes);
}

/* SECCION PRINCIPAL */

main {
    padding: 20px;
}

main .items-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;
}

.encabezado {
    width: 85%;
    height: 35px;
    text-align: center;
    justify-self: center;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-quintario);
}

.encabezado h2 {
    font-size: 28px;
    margin-bottom: 15px;
    font-family: var(--subtitulo);
}

.items-section {
    display: flex-box;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 5px;
}

.items-section .item {
    width: 25%;
    margin: auto;
}

.items-section div .svg-icon {
    color: var(--color-terciario);
    font-size: inherit;
    width: 70px;
    height: 70px;
    margin: auto;
}

.items-section div h2 {
    font-family: var(--subtitulo);
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items-section div p {
    font-family: var(--texto);
    text-align: center;
}

.cta {
    margin: 50px;
    padding: 10px;
    text-align: center;
}

.cta h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: var(--texto);
}

.cta p {
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--texto);
}

.boton-cta {
    width: 180px;
    height: 35px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-primario);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    font-family: var(--texto);
    font-size: large;
}

.boton-cta:hover {
    background-color: var(--color-cuaternario);
}

/*APARTADO DE ASESORIA*/

body {
    text-align: center;
}

.titulo-asesoria {
   margin-bottom: 40px;
   font-size: 60px;
   font-weight: 600;
   text-transform: uppercase;
   font-family: var(--subtitulo);
}

.contenido_asesoria p{
    margin-bottom: 40px;
    font-size: 18px;
    font-family: var(--texto);
}

.contenido_asesoria {
    height: 69vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box{
    height: 16rem;
    width: 20rem;
    background:#86B6F6;
    border-radius: 1rem;
    margin: 2rem;
    font-family: var(--subtitulo);
}

.box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #86B6F6;
    background: #fff;
    margin: 0.4rem 0;
    font-size: 2rem;

}
/*FOOTER*/

footer {
    background-color: var(--color-quintario);
    color: white;
    padding: 20px 0;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer svg {
    width: 75px;
    fill-opacity: 0.95;
    fill-rule: "evenodd";
    margin-left: 20px;
}

.enlaces a {
    font-family: var(--texto);
    color: var(--white);
    text-decoration: none;
    margin-right: 20px;
}

.enlaces a:hover {
    color: var(--color-primario);
}

.redes-sociales a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}

.redes-sociales a:hover {
    color: #55acee;
}

/*---PLANES---*/

.main-planes {
    padding: 20px;
}

.title-planes {
    text-align: center;
    margin-bottom: 40px;
}

.title-planes h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: var(--subtitulo);
}

.title-planes h2 span {
    color: var(--color-cuaternario);
    font-family: var(--subtitulo);
}

.title-planes p {
    font-size: 18px;
    color: var(--gray);
    font-family: var(--subtitulo);
}

.planes-cards {
    display: flex;
    justify-content: space-around;
}

.premium-anual,
.premium-semestral,
.premium-mensual {
    width: 275px;
    height: 200px;
    background-color: var(--color-secundario);
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    font-family: var(--texto);
}

.premium-anual {
    border-top: 5px solid rgb(245, 109, 139);
}

.premium-anual p span {
    color: rgb(245, 109, 139);
    font-weight: bold;
    font-size: 45px;
}

.planes-cards button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--texto);
    margin: 15px 0;
}

.premium-anual button {
    background-color: rgb(245, 109, 139);
    font-weight: bold;
    font-size: 15px;
}

.premium-anual button:hover {
    background-color: rgb(
        235,
        21,
        68
    ); /* Color de fondo azul más oscuro al pasar el mouse */
}

.premium-semestral {
    border-top: 5px solid rgb(79, 192, 137);
}

.premium-semestral p span {
    color: rgb(79, 192, 137);
    font-weight: bold;
    font-size: 45px;
}

.premium-semestral button {
    background-color: rgb(105, 208, 159);
    font-weight: bold;
    font-size: 15px;
}

.premium-semestral button:hover {
    background-color: rgb(6, 143, 77);
}

.premium-mensual {
    border-top: 5px solid rgb(147, 92, 249);
}

.premium-mensual p span {
    color: rgb(147, 92, 249);
    font-weight: bold;
    font-size: 45px;
}

.premium-mensual button {
    background-color: rgb(147, 92, 249);
    font-weight: bold;
    font-size: 15px;
}

.premium-mensual button:hover {
    background-color: rgb(
        89,
        21,
        216
    ); /* Color de fondo azul más oscuro al pasar el mouse */
}

.planes-cards h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.planes-cards p {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--gray);
}

.section-otro-plan {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-otro-plan h2 {
    font-size: 32px;
    margin-bottom: 50px;
    font-family: var(--subtitulo);
}

.otro-plan-cards {
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.plan-gratuito,
.plan-empresarial,
.plan-estudiantes {
    width: 300px;
    height: 200px;
    background-color: var(--color-secundario);
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    font-family: var(--texto);
}

.plan-empresarial {
    border-top: 5px solid rgb(117, 111, 2);
}

.plan-gratuito {
    border-top: 5px solid rgb(54, 63, 242);
}

.plan-estudiantes {
    border-top: 5px solid rgb(236, 47, 195);
}

.otro-plan-logo {
    margin-right: auto;
}

.otro-plan-logo svg {
    width: 40px;
    height: 40px;
    fill: var(--color-primario);
}

.otro-plan-titulo {
    font-size: 24px;
    margin-bottom: 10px;
}

.otro-plan-texto {
    font-size: 18px;
    margin-bottom: 10px;
}

.otro-plan-boton {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.plan-gratuito .otro-plan-boton {
    color: rgb(54, 63, 242);
}

.plan-empresarial .otro-plan-boton {
    color: rgb(117, 111, 2);
}

.plan-estudiantes .otro-plan-boton {
    color: rgb(236, 47, 195);
}

.otro-plan-boton svg {
    margin-right: 5px;
}

.plan-gratuito .otro-plan-boton:hover {
    background-color: rgb(54, 63, 242);
    color: #fff;
}

.plan-empresarial .otro-plan-boton:hover {
    background-color: rgb(117, 111, 2);
    color: #fff;
}

.plan-estudiantes .otro-plan-boton:hover {
    background-color: rgb(236, 47, 195);
    color: #fff;
}
